## Python statistics essential training - 04_03_bootstrapping

Standard imports

In [2]:
import math
import io

In [3]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [4]:
import scipy.stats
import scipy.optimize
import scipy.spatial

In [6]:
df = pd.read_csv('grades.csv')

In [7]:
df.describe()

            grade
count  100.000000
mean     5.508561
std      1.984988
min      1.160899
25%      3.921372
50%      5.688527
75%      7.272162
max      9.120705

## Bootstrapping introduced in 1979
#### estimate the uncertainty of a statistic than mean by generating a large family of samples from the one we have, then characterizing the distribution of the mean of this family. Each sampling of the family is provided as follow:
##### We do a grades randomly for a single existing sample, allowing the same grades for drawing more than once. technical speaking, we're sampleing with replacement.

In [15]:
n = 10
df.sample(n,replace=True).describe() # randomnly get a n sample of the dataframe values
#replacement equal to True means you can draw sampling larger than the original data

           grade
count  10.000000
mean    5.777288
std     2.103020
min     2.795256
25%     4.165364
50%     5.522474
75%     7.750746
max     8.522332

In [18]:
bootstrap = pd.DataFrame({'meangrades':[df.sample(100,replace=True).grade.mean() for i in range(1000)]})

In [22]:
bootstrap.meangrades.quantile(0.025),bootstrap.meangrades.quantile(0.975)

(5.119396283744349, 5.916367534781926)